* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 40%;
    height: 25vh;
    background-color: #333333;
    margin: 5%;
}

.div-1 {
    float: left;
}

.div-2 {
    float: right;
}

.clr  {
    clear: both;
}

@media screen (max-width: 500px) {

  }
 .div-1, .div-2{
    float: none;
}


.remAndEm {
    font-size: 20px;
}

#em {
    font-size: 1.2em;
}

#rem {
    font-size: 1.2rem;
}

:root {
    font-size: 20px;
}

.border-red {
    border: 1px solid red;
}

.border-blue {
    border: 1px solid blue;
}

.vh-100 {
    height: 100%;
}

.h-50 {
    height: 50%;
}


17) selector: all elements with the class of "vh-100" declarations: set height to 100% of the viewport
18) selector: all element with the class of "h-50" declarations: set height to 50% of the parent container
NOTE: notice how if you adjust the "vh-100" class to a lower value like 50vh instead of 100vh that the child div will take 50% of the parent container. e.g. 50% of 100vh is 50vh and 50% of 50vh is 25vh

Advanced Selectors
19) selector: all paragraphs that are direct children of div's declarations: set the text color to blue
20) selector: all sections that come immediately after a div declarations: set the text color to green
21) selector: all inputs with the type attribute of email declarations: set border color to red

Github
22) Push your changes to github
23) Open a pull request from your "practice" branch into your "main" branch
25) Merge the pull request