div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 3px rgba(164, 229, 238, 0.601);
  padding: 17px 90px 17px 90px;
  margin: 0px 300px 30px 300px;
}
h1 {
  font-size: 1.7rem;
  color: rgb(209, 224, 238);
}
input {
  align-items: center;
  border: solid 2px rgba(255, 255, 255, 0.633);
}
body {
  background-image: url(https://images.unsplash.com/photo-1632220894022-a83eacddae2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80);
  background-size: cover;
}
img {
  height: 222px;
  width: 222px;
  border: solid 2px rgba(255, 255, 255, 0.503);
}

input,
button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 17px;
  width: 33%;
  color: rgb(1 1 1 / 95%);
  background-color: #55d1f1;
}
